body {
      margin: 0;
      padding: 0;
      font-family: "Montserrat", "Helvetica";
      transition:0.4s; /* ajoute une "animation" lorsque le body "disparait" pour laisser place à la "barre" de navigation (le menu)*/
      background-color: hsl(0, 0%, 90%); /* couleur (gris clair) du footer comme expliqué dans index.html */
}
#foo {
      background-color: white; /* permet de rendre le reste du site blanc au lieu de la couleur du footer */
}

/* Partie Headers-Footer */

.header h1, .header h2 {
      margin: 0.7em 0.4em 0 0.4em;
      text-align: center;
      font-size: 1.6em;
}
.header {
      margin: 3px 1.5em 0 1.5em;
      display: flex; /* aligne les 2 titres */
      justify-content: space-between; /* espace les 2 titres */
      background-image: radial-gradient(at 50% 0, hsl(230, 100%, 66%) 20%, red, transparent 75%); /*ajoute en haut du titre un radial gradient en tant qu'image de fond*/
      background-size: 100% 17px; /* étend l'image sur toute la largeur pour améliorer l'effet d'englobement des titres */
      background-repeat: no-repeat; /*empêche l'image de fond de se répéter pour n'apparaitre qu'en haut */
      padding: 5px 0;
      border:solid; /* défini le type de la bordure pour pouvoir y appliquer une border-image*/
      border-bottom: none; /*enlève la bordure du bas pour pouvoir coller avec la bordure du div qui sert de support au radial gradient du bas */
      border-image: linear-gradient(to left, teal, crimson);
      border-image-slice: 1; /*découpe l'image de la bordure en 1 seule partie*/
      border-width: 2px;

}
.rad-grad-bottom {
      background-image: radial-gradient(at 50% 100%,  hsl(230, 100%, 66%) 35%, red,  transparent 80%); /* ajoute un radial gradient en bas des 2 titres, pour les englober, avec le gradient du haut*/
      background-size: 100% 17px;
      height: 0.8em; /*empêche le gradient du bas de trop monter et cacher les titres*/
      margin: 0 1.5em;
      border: solid;
      border-image: linear-gradient(to left, crimson, teal);
      border-image-slice: 1;
      border-width: 2px;
      border-top: none; /* enlève la bordure du haut pour pouvoir coller avec la bordure du "header" et donner l'impression d'avoir une seule bordure */
}
hr {
      border: 1px outset hsl(0, 0%, 95%); /* change la couleur de la barre en lui ajoutant une bordure */
}
.footer {
      margin:0;
      padding:0;
      background-color: hsl(0, 0%, 90%); /*met la couleur de fond du pied de page en gris*/
}
.footer hr {
      border: 1px inset hsl(0, 0%, 95%);
      margin: 0; /* permet de coller les 2 hr*/
}
.footer1{
      margin: 5% 0; 
}
/* Fin Partie Header-Footer*/

/* Navbars */

.Navbar {
      height: 99%; /* définit le menu de navigation sur la gauche */
      width: 0; /* largeur intial de 0 pour qu'on ne la voit que lorsqu'on appelle la fonction "show()"*/
      position: fixed;
      z-index: 1; /* apparait par dessus le reste */
      top: 0; /* est collé au haut de la page */
      background-color: black;
      overflow: hidden; /* cache tout texte qui dépasse de la zone noire */
      padding-top: 60px;
      transition: 0.6s; /* rajoute une "animation" en ralentissant le menu navigation pour qu'il s'affiche en 0.6seconde */
}

.Navbar a, .Navbar span, #button{
      padding: 7% 20%; /* stylise les éléments dans le menu de navigation */
      padding-right: 10%;
      text-decoration: none; /* enlève la mise en forme classique des liens (soulignements etc...)*/
      font-size: 28px;
      color: white;
      display: block; /* fait en sorte que chaque onglet prenne toute la largeur de la ligne et qu'ils se mettent entre eux l'un au dessus de l'autre*/ 
      transition: 0s; /* ralentit l'effet du "a:hover" pour qu'il prenne 0.3seconde*/
      cursor: pointer; /* change le type de curseur lorsque l'on survol les liens*/
      top: 0;
}
.Navbar a{
      border-bottom: 1px solid hsl(0, 0%, 18%); /* ajoute une séparation grise foncée entre les parties */
}
.Navbar span{
      position: absolute; /* permet de mettre la croix du menu en haut en ignorant le padding-top de 60px*/
      right: 8%;  /*décale la croix*/
      padding: 12px 20px;
}

.Navbar a:hover, .Navbar span:hover {
      background-color: hsl(0, 0%, 8%); /*change la couleur de fond lorsque le curseur se déplace sur l'élément*/
      color: white;
}
.active {
      background-color: hsl(0, 0%, 12%) !important; /* change la couleur de "l'onglet", du lien de la page où l'utilisateur se trouve, peu importe de si son curseur est sur le lien ou non*/
}
.flexnav {
      display: flex;  /* met l'icône du menu de navigation, le bouton, et les élément hrs sur la même ligne*/
}
#icon {
      overflow: hidden;
      padding: 0;
      background-color: white;
      width: 99%; /* ajoute un espace à droite entre le bord de la fenêtre et la bordure */
} 
#button{
      color: black;
      padding: 5px 10px;
      margin: 5px;
      font-size: 35px;
      flex: 0.8; /* réduit la largeur du bouton à 0.8 fois la largeur de base du div contenant les hrs */
      transition: 0.6s;
}
.linenav{
      flex: 32; /* augmente la largeur du div contenant les hrs à 32 fois la largeur de base du bouton */
      margin: auto 3px;
      margin-right: 40px;
      overflow: visible;
}
.linenav hr{
      margin-top: 0; /* rapproche les des 2 hrs en enlevant les espaces entre les 2 */
      margin-bottom: 0;    
}
.sticky { /* classe qui sera mise par javascript quand l'utilisateur scroll pour garder l'icône du menu en haut de la page */
      position: fixed;
      top: 0;
      width: 100%;
}

.sticky + .content, .sticky + .content1 { /* ajout d'un espace pour que l'icône du menu cache le moins de texte possible */
      margin-top: 102px;
}
/* Fin Partie Navbars */

/* Partie Content */
h1, h2, h3 { /* stylise tous les titres à l'intérieur du contenu de la balise Section */
      font-family: "Open Sans", "Arial";
}
.content {
      width: auto; /* définit le rectangle qui va contenir toute l'information*/
      height:auto;
      margin: 30px; /* décale le texte des bords de l'élément */
      margin-top: 10px; /* rapproche le texte du haut en mettant 10px de margin à la place de 30 */
      box-shadow: 1px 1px 10px black;
      padding: 20px 30px;
}

.content h1, .content h2 { /*stylise tous les titres h1 et h2 à l'intérieur de la section qui a comme classe "content" */
      font-weight: 300;
      margin:0;
      margin-bottom: 15px;
      font-size: 30px;
}
.content h1 {
      font-size: 35px;
}
.content p {
      margin: 0 10px; /*décale les paragraphes par rapport aux titres */
      font-size: 18px;
      text-align: justify; 
      padding: 10px 5px; /*ajoute de l'espace entre les paragraphes */
}
a {
      text-decoration: none;
      color: hsl(270, 50%, 50%); /* liens en violet clair */
}
a:hover{
      color: hsl(270, 80%, 30%); /* change les liens en violet foncé lorsque l'on a le curseur dessus */
}
.plan li {
      margin: 13px 25px;
 }

 /* Partie SVG */
.center-svg { 
      width: 75%; /* définit une largeur et une hauteur pour centrer le div avec margin: 0 auto;  */
      height: 310px;
      margin: 20px auto;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
}
.lab{
      width: 310px; /* stylise le labyrinthe svg */
      height: 320px;
}
.wall{ 
      stroke:black; /* défnit les murs (noirs) sur le quadrillage (Gris)*/
      stroke-width:2px; /* augmente la largeur du contour du svg à 2px*/
      fill: none;
}
.quadrillage {
      stroke: grey; /* définit les cases */
}
.center-svg p {
      width: 14%;
      margin: 20px 40px 20px 30px;
}
text{ /* text "départ" et "sortie" */
      stroke: red;
      stroke-width: 1px;
      text-decoration: underline;
}
.answer { /* svg avec l'ensemble des flèches*/
      margin-top: 40px;
      height: 220px;
      border-left: 2px solid black;
      border-right: 2px solid black;
}
.answer path{
      margin-top: 20px;
}

/*Fin Partie SVG*/

/* Content Partie Mouvement */
 ul{
      padding-left: 0;
 }
.arb {
      width: 100%; /* spécifie une largeur pour pouvoir centrer en utilisant "auto" comme marge */
      display: flex; /* aligne les éléments de listes */
      justify-content: space-between; /* écarte les éléments de listes */
      margin: 20px auto;
      flex-wrap: wrap; /* si les éléments de listes dépasse du conteneur parent ils se rabattrons sur la ligne d'en bas*/

} 
.arb li { /* stylise les listes et éléments de liste du premier "schéma" explicatif */
      width: 100% /* spécifie une largeur pour pouvoir centrer en utilisant "auto" comme marge */
      margin: 25px 0;
      list-style-type: none; /* enlève les points devant chaque élément de liste */
      flex-wrap: wrap;
      font-size: 16px;
}
.li1 { /* stylise les éléments pour que li1 prenne toute la largeur, li2 permette de mettre 4 "blocs de texte" par ligne idem pour li4 */
      width: 100%;
      text-align: center; /*centre les éléments de liste */
      margin-bottom: 15px;
}
.li2{
      text-align: center; 
      width: 24.9%;
      margin: 10px 0;
}
.arb div {
      margin: 5px 0;
      font-style: italic;
      font-size: 15px;
}
.li4 {
      width: 24%;
      text-align: center;
      margin: 18px 0;
      border-right: 1px solid purple;
      padding: 0 5.3px;      
}
#lilast{
      border:none; /* enlève la bordure pour les blocs de textes qui sont aux extrémités de la page */
}
.arb #hr{ /* stylise l'espace qui sépare les deux onevents*/
     padding: 10px;
     border-top: 1px solid lightgrey;
}

.first{
      padding: 15px 55px; /* first et autres classes => expliqués dans l'html */
      margin: 0;
      list-style-type: none;
      padding-bottom: 0; 
}
.second, .third{
      list-style-type: inherit;
}
.second {
      padding: 15px 40px;
}
.third {
      padding: 15px 40px;
}
.onevent {
      padding-bottom: 15px;
}
/* Fin Partie Content */


/* Partie annexe */

.glos {
      list-style-type: none;
      padding: 0;
      width: 100%;
      margin: 0 auto;
}
.glos li {
      display: inline-block;
      padding: 5px;
      font-size: 18px;
      width: 31%;
      margin: 0 auto;
}
.img {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 30px auto;
}
.img img {
      width: 30%;
      border: solid 1px black;
      height: 350px;
      width: 550px;
      text-align: center;
      margin: 0px auto;
      margin-bottom: 20px;
}
.img1{
      border-color: teal !important;
      border-width: 2px;
}
.anx{
      width: 100%;
      margin: 0 auto;
      text-align: center;
}
/* Fin partie annexe */
